body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ccc;
  /* cursor: none; */
  cursor: crosshair;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  /* overflow: hidden; */
}
@font-face {
  font-family: "zx-spectrum";
  src: url(zx-spectrum.ttf) format("truetype");
}
p.customfont {
  font-family: "zx-spectrum", Verdana, Tahoma;
}
.parent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  background-color: #ccc;
  z-index: 2;
}
.parent > .splash {
  background-color: #ccc;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "zx-spectrum", monospace;
  font-size: 5vw;
  line-height: 5vw;
  cursor: crosshair;
  z-index: 2;
}
p {
  font-family: "zx-spectrum", monospace;
  font-size: 10vw;
  line-height: 5vw;
}
.entropy {
  display: none;
}

#d {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 88%;
  bottom: 0%;
  font-family: "zx-spectrum", monospace;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 0;
}

/* (in case of nft) below should be on top !!!
z-index doesnt work now because of click function */

.code {
  box-sizing: border-box;
  position: absolute;
  top: 4%;
  width: 100%;
  z-index: 0;
  word-break: break-all;
  color: #666;
  page-break-inside: avoid;
  font-family: "zx-spectrum", monospace;
  font-size: 0.7vw;
  line-height: 1.6;
  margin-bottom: 1.5em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  z-index: 3;
}



#wdiv {
  position: absolute;
  left: 0%;
  width: calc(100% - 20px);
  height: 15%;
  /* top: 5%; */
  text-transform: uppercase;
  /* font-family: Menlo, Monaco, "Droid Sans Mono", Consolas, monospace; */
  font-family: "zx-spectrum", monospace;
  /* letter-spacing: 0.2rem; */
  font-size: 1vw;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 1vh;
  z-index: 3;
}
