<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <title>
      <%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.title  %>
    </title>

    <!-- 12-2023 -->

    <link rel="stylesheet" href="css/app.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="<%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.metaDesc %> "/>
  </head>
  <body id="nft">
    <div id="popup">
      <p id="popupText"></p>
    </div>
    <div id="wdivnft"></div>
    <div id="code" class="code"></div>
    <canvas id="d"></canvas>
    <div id="wdiv"></div>
    <div id="index"></div>
    <div id="debug"></div>
    <script defer>
      <%= compilation.assets['DoAW.js'].source() %>
    </script>
    <script>
      window.isGif = true
      if (window.location.hash == "" || window.location.hash == "#") {
        document.body.innerHTML = "<h1>bad hash</h1>"
      } else {
        try {
          const doawExports = window.doawExports
          doawExports.runMnemonic()
          document.getElementsByTagName("body")[0].classList.add("has-entropy");
          document.getElementById('wdivnft').style.display = "none";
          doawExports.run(true)
        } catch(e) {
          console.log('error-1', e)
          document.body.innerHTML = "<h1>error-1</h1>" + e
        }
      }
      // try {
      // const doawExports = window.doawExports
      // document.body.innerHTML = "<h1>error-2</h1>" + JSON.stringify(doawExports)
      // document.getElementById('debug').innerHTML = "<pre>" + JSON.stringify(doawExports, null, 2) + "</pre>";
      // document.body.innerHTML = JSON.stringify(window, null, 2)
      // doawExports.run(true);
      // } catch(e) {
      //   console.log('error-2', {e})
      //   document.body.innerHTML = "<h1>error-2</h1>" + e
      // }
    </script>
  </body>
</html>
