<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <title>
      <%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.title  %>
    </title>

    <!-- 7-2023 -->

    <link rel="stylesheet" href="css/app.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="<%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.metaDesc %> "/>
  </head>
  <body>
    <div id="popup">
      <p id="popupText"></p>
    </div>
    <div id="parent" class="parent">
      <div id="splash" class="splash">R4aW<p>START</p>
      </div>
    </div>
    <div id="code" class="code"></div>
    <canvas id="d"></canvas>
    <div id="wdiv"></div>
    <div id="hov">MINT</div>
    <div id="index"></div>
    <%= "<script defer>" + compilation.assets['R4AW.js'].source() + "</script>" %>
  </body>
</html>
