<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <title>
      <%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.title  %>
    </title>

    <!-- 7-2023 -->

    <link rel="stylesheet" href="css/app.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="<%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.metaDesc %> "/>
  </head>
  <body>
    <audio id="a-0" preload="auto" style="display: none;"><source src="bithex/0.mp3" type="audio/mp3"></audio>
    <audio id="a-1" preload="auto" style="display: none;"><source src="bithex/1.mp3" type="audio/mp3"></audio>
    <audio id="a-2" preload="auto" style="display: none;"><source src="bithex/2.mp3" type="audio/mp3"></audio>
    <audio id="a-3" preload="auto" style="display: none;"><source src="bithex/3.mp3" type="audio/mp3"></audio>
    <audio id="a-4" preload="auto" style="display: none;"><source src="bithex/4.mp3" type="audio/mp3"></audio>
    <audio id="a-5" preload="auto" style="display: none;"><source src="bithex/5.mp3" type="audio/mp3"></audio>
    <audio id="a-6" preload="auto" style="display: none;"><source src="bithex/6.mp3" type="audio/mp3"></audio>
    <audio id="a-7" preload="auto" style="display: none;"><source src="bithex/7.mp3" type="audio/mp3"></audio>
    <audio id="a-8" preload="auto" style="display: none;"><source src="bithex/8.mp3" type="audio/mp3"></audio>
    <audio id="a-9" preload="auto" style="display: none;"><source src="bithex/9.mp3" type="audio/mp3"></audio>
    <audio id="a-a" preload="auto" style="display: none;"><source src="bithex/a.mp3" type="audio/mp3"></audio>
    <audio id="a-b" preload="auto" style="display: none;"><source src="bithex/b.mp3" type="audio/mp3"></audio>
    <audio id="a-c" preload="auto" style="display: none;"><source src="bithex/c.mp3" type="audio/mp3"></audio>
    <audio id="a-d" preload="auto" style="display: none;"><source src="bithex/d.mp3" type="audio/mp3"></audio>
    <audio id="a-e" preload="auto" style="display: none;"><source src="bithex/e.mp3" type="audio/mp3"></audio>
    <audio id="a-f" preload="auto" style="display: none;"><source src="bithex/f.mp3" type="audio/mp3"></audio>
    
    <div id="popup">
      <p id="popupText"></p>
    </div>
    <div id="parent" class="parent">
      <div id="splash" class="splash">DoAW<p>START</p>
      </div>
    </div>
    <div id="wdivnft"></div>
    <div id="code" class="code"></div>
    <canvas id="d"></canvas>
    <div id="wdiv"></div>
    <div id="index"></div>
    <script defer>
      <%= compilation.assets['DoAW.js'].source() %>
    </script>
    <script defer>

      if (window.location.hash !== "" && window.location.hash !== "#") {
        document.getElementsByTagName("body")[0].classList.add("has-entropy");
        // get body
      }
      const doawExports = window.doawExports
      let clicked = false
      doawExports.runMnemonic()
      document.addEventListener('click', clickFunction)
      function clickFunction() {
        if (! clicked) {
          document.getElementById('parent').style.display = "none";
          document.getElementById('wdivnft').style.display = "none";
          // doawExports.snds.play();
          doawExports.run();
          clicked = true
          window.parent.postMessage('run', '*');
        } else {
          doawExports.pause()
        }
      }
    </script>
  </body>
</html>
