<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <title>
      <%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.title  %>
    </title>

    <!-- 7-2023 -->

    <link rel="stylesheet" href="css/app.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="<%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.metaDesc %> "/>
  </head>
  <body id="nft">
    <div id="popup">
      <p id="popupText"></p>
    </div>
    <div id="parent" class="parent">
      <div id="splash" class="splash">DoAW<p>START</p>
      </div>
      <div id="wdivnft"></div>
    </div>
    <div id="code" class="code"></div>
    <canvas id="d"></canvas>
    <div id="wdiv"></div>
    <div id="index"></div>
    <div id="debug"></div>
    <script defer>
      <%= compilation.assets['DoAW.js'].source() %>
    </script>
    <script defer>
      const doawExports = window.doawExports
      let muted = false;
      if (window.location.hash == "" || window.location.hash == "#") {
        alert("Missing ID, going back to index")
        window.location = "/index.html";
      } else {
        muted = window.location.hash.indexOf("-") > -1
        document.getElementsByTagName("body")[0].classList.add("has-entropy");
      }
      //console.log(window.location.hash.substring(0, 7))
      document.getElementById("splash").style.backgroundColor = window.location.hash.substring(0, 7);

      doawExports.addMnemonicToScreen()
      if (muted) {
        document.getElementById('parent').style.display = "none";
        doawExports.run(true);
      }
      let clicked = false
      document.addEventListener('click', clickFunction)
      function clickFunction() {
        if (! clicked) {
          document.getElementById('parent').style.display = "none";
          doawExports.run(false);
          clicked = true
        } else {
        }
      }
    </script>
  </body>
</html>
